---
layout: layout.liquid
title: Planetary Playing Cards
---
<h1>Planetary Playing Cards</h1>
<main>
    {% card "Sun" "Type G2V" %}
    {% card "Mercury" "	0.39 AU" %}
    {% card "Venus" "0.72 AU" %}
    {% card "Earth" "1 AU" %}
    {% card "Mars" "1.52 AU" %}
    {% card "Jupiter" "5.20 AU" %}
    {% card "Saturn" "9.54 AU" %}
    {% card "Uranus" "19.18 AU" %}
    {% card "Neptune" "30.06 AU" %}
</main>

