---
layout: layout.liquid
title: Planetary Playing Cards
---
<h1>Planetary Playing Cards</h1>
<main>
    {% card "Sun" "Type G2V" %}
    {% card "Mercury" "	0.39 AU" %}
    {% card "Venus" "0.72 AU" %}
    {% card "Earth" "1 AU" %}
    {% card "Mars" "1.52 AU" %}
    {% card "Jupiter" "5.20 AU" %}
    {% card "Saturn" "9.54 AU" %}
    {% card "Uranus" "19.18 AU" %}
    {% card "Neptune" "30.06 AU" %}
</main>





<!--
SOURCES 
ChatGPT 4o (Open AI)
Prompts:
 - can I set a root varible in css to be 40 like --Mercury: 40, then later use font-size: --Mercury px?
 - is something wrong with this? .card:hover{-webkit-animation: slide-fwd-tr 0.5s ease-in-out forwards;-webkit-animation: shadow-drop-bl 0.5 ease-in-out forwards;}
 - I am trying to make the shadow cover the area where it was shifted from, but the shadow is barely visible and isn't doing that, why?

https://animista.net/play/basic/shadow-drop for card animations
https://cssgenerator.org/box-shadow-css-generator.html for box-shadow code
-->