---
title: Planetary Playing Cards
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
  <script src="https://unpkg.com/scrollreveal"></script>
</head>
<body>
    {{ content }}

    <script>
		  ScrollReveal().reveal('h1');
      ScrollReveal().reveal('.card.Sun', { delay: 400 });
      ScrollReveal().reveal('.card.Mercury', { delay: 600 });
      ScrollReveal().reveal('.card.Venus', { delay: 800 });
      ScrollReveal().reveal('.card.Earth', { delay: 1000 });
      ScrollReveal().reveal('.card.Mars', { delay: 1200 });
      ScrollReveal().reveal('.card.Jupiter', { delay: 1400 });
      ScrollReveal().reveal('.card.Saturn', { delay: 1600 });
      ScrollReveal().reveal('.card.Uranus', { delay: 1800 });
      ScrollReveal().reveal('.card.Neptune', { delay: 2000 });
	  </script>
</body>
</html>